<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.codelabs.appauth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.CheckOutActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9476521556541591~7305076193" /> <!-- <services> -->
        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".push.activity.PushActivity">

        </activity> <!-- <provider -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- &gt; -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- /> -->
        <!-- </provider> -->
        <activity android:name=".activities.UploadProductActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.IntroActivity">

            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.SignUpActivty"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="learn2crack"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ShopProfileActivity" />
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- comment below -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.google.codelabs.appauth" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity">

            <!-- <intent-filter> -->
            <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->


            <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
            <!-- </intent-filter> -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.google.codelabs.appauth.HANDLE_AUTHORIZATION_RESPONSE" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProductDetailsActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.codelabs.appauth.activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/activity_local_search"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".search.LocalSearchActivity"
            android:label="@string/activity_local_search"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".search.RemoteSearchActivity"
            android:label="@string/activity_remote_search"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>